<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SitecoreLoggingExtensions.Data.StackName" value="TestWebsite" />
      <setting name="SitecoreLoggingExtensions.Options.LogHosting" value="false" />
      <setting name="SitecoreLoggingExtensions.Options.LogUserName" value="false" />
      <setting name="SitecoreLoggingExtensions.Options.LogIdentity" value="false" />
    </settings>
    <log4net>
      <appender name="LogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="PublishingLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Publishing.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="SearchLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Search.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="CrawlingLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Crawling.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="WebDAVLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/WebDAV.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="ClientLogAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Client.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="FxmLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Owin.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="ContactMergeLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/contactMergeDataUpgrade.log.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
      <appender name="OwinLogFileAppender">
        <patch:attribute name="type">SitecoreLoggingExtensions.NoByteOrderMarkLogFileAppender, SitecoreLoggingExtensions</patch:attribute>
        <file>
          <patch:attribute name="value">$(dataFolder)/logs/Fxm.log.${COMPUTERNAME}.{date}.{time}.json.txt</patch:attribute>
        </file>
        <layout>
          <patch:attribute name="type">SitecoreLoggingExtensions.JsonLayout, SitecoreLoggingExtensions</patch:attribute>
        </layout>
      </appender>
    </log4net>
  </sitecore>
</configuration>